@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

@font-face {
    font-family: 'Norse';
    font-weight: 400;
    src: url(assets/fonts/norse-webfont.woff2) format('woff2'),
        url(assets/fonts/norse-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Norse Bold';
    font-weight: 400;
    src: url(assets/fonts/norsebold-webfont.woff2) format('woff2'),
        url(assets/fonts/norsebold-webfont.woff) format('woff');
}

:root {
    --heading-text: 'Poppins', sans-serif;
    --body-text: 'Open Sans', sans-serif;
}

[data-theme='light'] {
    --background-color: #EFFBF3;
    --primary-color: #40CE75;
    --primary-hover-color: #65D78F;
    --primary-active-color: #8DE2AC;
    --secondary-color: #DFF7E7;
    --secondary-hover-color: #E7F9ED;
    --secondary-active-color: #A1E8B9;
    --accent-color: #F73E84;
    --text-color: #071C10;
}

[data-theme='dark'] {
    --background-color: #041008;
    --primary-color: #31BF65;
    --primary-hover-color: #54D383;
    --primary-active-color: #7DDEA1;
    --secondary-color: #082110;
    --secondary-hover-color: #071D0E;
    --secondary-active-color: #1F7F3D;
    --accent-color: #BF084E;
    --text-color: #E2F8EC;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr auto 0.5fr;

    font-family: var(--body-text);
}

h1,
h2 {
    font-family: var(--heading-text);
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    row-gap: 1rem;

    grid-column: 2;
    padding: 0.5rem 3rem 1.5rem;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1;
    box-shadow: 0 0.2rem 0.5rem #202020;
}

.profile-container,
.search-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.search-container {
    grid-column: span 2;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.search-container input {
    width: 80%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    outline: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.profile-container {
    justify-content: flex-end;
}

.profile-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
}

.profile-container button:hover {
    border-width: 4px;
}

.profile-container img,
.hi-there img {
    border: 2px solid var(--text-color);
    border-radius: 50%;
}

.profile-container img {
    width: 3rem;
    height: 3rem;
}

.hi-there {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 100%;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: start;
}

.hi-there img {
    width: 4rem;
    height: 4rem;

    grid-row: span 2;
}

.hi-there a {
    text-decoration: none;
}

.hi-there i {
    color: var(--text-color);
    padding: 0.25rem;
    border: 2px solid var(--text-color);
    border-radius: 50%;
}

.hi-there i:hover {
    border-width: 3px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

.buttons-container button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--heading-text);
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: var(--primary-hover-color);
}

.buttons-container button:active {
    background-color: var(--primary-active-color);
}

aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    grid-row: 1 / span 3;
    background-color: var(--primary-color);
    color: var(--background-color);
    z-index: 2;
}

.title-dashboard {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title-dashboard i {
    font-size: 3rem;
}

.menu {
    display: grid;
    gap: 1rem;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    display: flex;
    gap: 1rem;

    text-decoration: none;
    color: var(--background-color);
    font-family: var(--heading-text);
}

.menu li a:hover {
    font-size: large;
    color: var(--secondary-hover-color);
}

.menu li a:active {
    color: var(--secondary-active-color);
}

.menu li a i {
    font-size: 1.5rem;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1.5rem 1rem;
    gap: 1.5rem;

    background-color: var(--secondary-color);
    color: var(--text-color);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
    gap: 1.25rem;

    grid-row: span 2;
}

.projects h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    grid-column: 1 / -1;
}

.theodinproject-font {
    font-family: 'Norse', var(--heading-text);
    color: var(--primary-color);
    text-decoration: none;
}

.theodinproject-font:hover {
    font-family: 'Norse Bold', var(--heading-text);
    color: var(--primary-hover-color);
}

.theodinproject-font:active {
    font-family: 'Norse Bold', var(--heading-text);
    color: var(--primary-active-color);
}

article {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 0.1rem 0.25rem var(--text-color);
    color: var(--text-color);

    border-left: 0.5rem solid var(--accent-color);
    border-radius: 1rem;
}

.image-container {
    height: 12rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}

.image-container img {
    position: absolute;
    width: 100%;
}

article i {
    padding-right: 1rem;
}

.project-icons {
    justify-self: end;
    font-size: 1.75rem;
}

.project-icons a {
    color: var(--primary-color);
    text-decoration: none;
    text-shadow: 1px 1px 4px var(--primary-color);
}

.project-icons a:hover {
    color: var(--primary-hover-color);
}

.project-icons a:active {
    color: var(--primary-active-color);
}

.side-main-container {
    display: grid;
    gap: 1rem;
}

.announcements {
    margin-bottom: 1rem;
}

.announcement-content {
    padding: 0.5rem;
}

.divider {
    height: 0;
    width: 100%;
    align-self: stretch;
    border: 1px solid var(--secondary-active-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 2;
    background-color: var(--secondary-color);
}

footer a,
footer p {
    color: var(--text-color);
}

footer p {
    font-size: 1.25rem;
    font-weight: 600;
}

footer i {
    padding-right: 0.5rem;
}

footer a:hover {
    text-decoration: none;
}